*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/static/Inter-Regular.ttf");
  font-weight: 400;
}
body {
  font-size: 15px;
  line-height: 18.15px;
  font-family: "Inter";
  font-weight: 400;
  overscroll-behavior-y: none;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
}
.App {
  cursor: default;
  color: #1c1917;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: hidden !important; /* Hide vertical scrollbar */
  overflow-x: hidden !important;
}
.loader-wrapper {
  background-color: #1c1917;
  height: 100vh;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}
.video-box {
  cursor: pointer;
}
.video-link {
  cursor: pointer;
  text-decoration: none;
  color: #1c1917;
}
.artworks__list {
  display: flex;
  flex-direction: row;
  height: 100vh;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  padding: 136px 32px;
  opacity: 1;
  transition: 1ms;
}
.artworks__list--shaded {
  display: flex;
  flex-direction: row;
  height: 100vh;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  padding: 136px 32px;
  opacity: 1;
  opacity: 0;
  transition: 1ms;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden;
}
.main-container {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background: none;
  overflow-x: hidden;
  overflow-x: hidden;
  cursor: default;
  z-index: 20;
  background-color: #fdfcfc;
  transition: 0.1s ease-in;
}
.main-container--shaded {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background: none;
  overflow-y: hidden;
  overflow-x: hidden;
  cursor: default;
  z-index: 0;
  background-color: #1c1917;
  transition: 0.4s ease-out;
}
.main-container::-webkit-scrollbar {
  display: none;
}
.about__info {
  display: flex;
  justify-content: space-between;
}
.artwork__img,
.video-box {
  width: auto;
  height: 176px;
  cursor: pointer;
  margin-right: 400px;
}
.header__h1 {
  text-decoration: none;
  color: #1c1917;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  z-index: 99999999999999;
  transition: 0.4s ease-out;
}
.header__h1--shaded {
  text-decoration: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  z-index: 99999999999999;
  transition: 0.4s ease-out;
}
.nav__link,
.footer__link {
  text-decoration: none;
}
.footer__links {
  display: flex;
  justify-content: center;
}
.footer__links--shaded {
  display: none;
  justify-content: center;
}
.footer__link-div {
  width: 21px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__middle {
  margin-left: 16px;
  margin-right: 16px;
}
.footer__link {
  position: relative;
  cursor: pointer;
}
.footer__link::after {
  cursor: pointer;
  content: "";
  position: absolute;
  background-color: #1c1917;
  height: 1px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}
.footer__link:hover::after {
  width: 100%;
}
.footer__link--selected {
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
}
.nav__link {
  z-index: 55555555;
  position: relative;
  cursor: pointer;
  color: #1c1917;
}
.nav__link--shaded {
  z-index: 55555555;
  position: relative;
  cursor: pointer;
  color: white;
}
.header {
  position: absolute;
  color: #1c1917;
  padding: 24px 32px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
footer {
  position: fixed;
  color: #1c1917;
  bottom: 24px;
  width: 100%;
  display: flex;
  padding: 0px;
  justify-content: space-between;
  z-index: 9999999999;
  transition: 2s;
  display: flex;
  padding: 0 32px;
}
.about::-webkit-scrollbar {
  display: none;
}
.about__h1 {
  font-size: 15px;
}
.about__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.about__bio {
  width: 656px;
  line-height: 22.5px;
}
.about__links {
  margin-right: 209px;
}
/* each section  */

.eachArtWork {
  width: 100%;
  background-color: #fdfcfc;
  z-index: 55555555;
  transition: 0.3s;
}
.eachArtWork--shaded {
  width: 100%;
  background: #1c1917;
  transition: 0.3s ease-out;
  z-index: -1;
  background-color: #1c1917;
}
.eachArtWork__info-box {
  color: #1c1917;
  opacity: 0.6;
  font-size: 12px;
  z-index: 5;
  display: flex;
  width: 100%;
  justify-content: center;
  bottom: 41px;
  position: relative;
  transition: 0.3s;
}
.eachArtWork__info-box--shaded {
  color: #fdfcfc;
  opacity: 0.6;
  font-size: 12px;
  z-index: 5;
  display: flex;
  width: 100%;
  justify-content: center;
  bottom: 41px;
  position: relative;
  transition: 0.3s;
}
.eachArtWork__info-box--none {
  color: #1c1917 !important;
  opacity: 0.6;
  font-size: 12px;
  z-index: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  bottom: 41px;
  position: relative;
  transition: 0.3s;
}
.eachArtWork__footer {
  color: #1c1917;
  display: flex;
  width: 100%;
  position: relative;
  transition: 0.3s;
}
/* .eachArtWork__footer--shaded {
  color: transparent;
  display: flex;
  width: 0;
  position: fixed;
  padding: 0 32px;
  bottom: 24px;
  transition: 0.3s;
} */
.eachArtWork__img,
.video-box {
  width: auto;
  height: 680px;
  object-fit: contain;
}
.eachArtWork__video {
  height: 680px;
  width: 1180px;
}
.eachArtWork__img-box {
  cursor: none;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  opacity: 1;
  transition: 0ms;
}
.eachArtWork__img-box--shaded {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  opacity: 0;
  transition: 0ms;
}
.eachArtWork__wrapper {
  cursor: none;
  background-color: #fdfcfc;
  height: 100vh;
  transition: 0.3s;
}
.eachArtWork__wrapper--shaded {
  cursor: default !important;
  z-index: -1px;
  background-color: #1c1917;
  height: 100vh;
  transition: 0.3s ease-out;
}
.post__back {
  position: absolute;
  left: 32px;
  bottom: 24px;
  cursor: pointer !important;
  text-decoration: none;
  color: #1c1917;
  cursor: pointer;
  z-index: 44444;
}
.post__next {
  position: absolute;
  right: 32px;
  bottom: 24px;
  cursor: pointer !important;
  text-decoration: none;
  color: #1c1917;
  cursor: pointer;
  z-index: 44444;
}
.post__next--none {
  position: absolute;
  right: 32px;
  bottom: 24px;
  cursor: pointer !important;
  text-decoration: none;
  color: transparent;
  cursor: pointer;
  z-index: -1;
}
.post__back--none {
  position: absolute;
  right: 32px;
  bottom: 24px;
  cursor: pointer !important;
  text-decoration: none;
  color: transparent;
  cursor: pointer;
  z-index: -1;
}
.artworks__list p {
  color: transparent;
}
.none {
  display: none;
}
.video-box {
  width: auto;
  height: 184px;
}
.hello {
  color: white;
  z-index: 999999999999999999999;
  position: relative;
}
.bio-box {
  margin-top: 302px;
}
.bio-bio p {
  line-height: 24px;
}
.bio-box_paragraph {
  line-height: 24px;
  width: 600px;
  z-index: 999999;
  position: relative;
}
.bio__links {
  margin-top: 120px;
}
.bio__link {
  position: relative;
  cursor: pointer;
}
.bio__link::after {
  cursor: pointer;
  content: "";
  position: absolute;
  background-color: #fdfcfc;
  height: 1px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}
.bio__link:hover::after {
  width: 100%;
}

.custom-cursor {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  background-color: transparent;
  width: 40px;
  height: 20px;
  position: absolute;
  z-index: 999999999;
  color: #1c1917;
  transform: translate(-50%, -20%);
  pointer-events: none;
}
.custom-cursor--white {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  background-color: transparent;
  width: 40px;
  height: 20px;
  position: absolute;
  z-index: 999999999;
  color: #fdfcfc;
  transform: translate(-50%, -20%);
  pointer-events: none;
}
.custom-cursor--none {
  display: none;
}
.bio {
  z-index: -1;
  position: fixed;
  left: 32px;
  margin-top: 353px;
  font-size: 16px;
  color: transparent;
  height: 100%;
  color: transparent;
  transition: 0.1s;
}
.bio-bio {
  width: 600px;
  margin-bottom: 120px;
}
.bio--shaded {
  cursor: default !important;
  position: fixed;
  left: 32px;
  width: 100%;
  z-index: 6000000;
  padding-top: 353px;
  font-size: 15px;
  color: white;
  height: 100%;
  transition: 0.2s ease-out;
}
.bio-links p:nth-child(1) {
  margin-bottom: 4px;
}
.bio-link {
  position: relative;
  cursor: pointer;
}
.bio-links p:nth-child(1)::after {
  cursor: pointer;
  content: "";
  position: absolute;
  background-color: white;
  height: 1px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}
.bio-links p:nth-child(1):hover::after {
  z-index: 555555555;
  width: 168px;
}
.bio-links p:nth-child(2)::after {
  cursor: pointer;
  content: "";
  position: absolute;
  background-color: white;
  height: 1px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}
.bio-links p:nth-child(2):hover::after {
  z-index: 555555555;
  width: 65px;
}
.bio-reference {
  position: absolute;
  display: flex;
  bottom: 22px;
}
.eachArtWork__controller {
  color: #000;
}
.eachArtWork__controller--shaded {
  color: transparent;
}
.bio-references {
  position: fixed;
  display: flex;
  color: #1c1917;

  opacity: 0.6;
  font-size: 13px;
  position: fixed;
  bottom: 24px;
  left: 32px;
  display: flex;
  z-index: -1;
}
.bio-references--shaded {
  position: fixed;
  display: flex;

  color: #fdfcfc;
  opacity: 0.6;
  font-size: 13px;
  position: fixed;
  bottom: 24px;
  left: 32px;
  display: flex;
  z-index: 2;
}
.bio-references p:nth-child(2) {
  margin-left: 4px;
  margin-right: 4px;
}
.bio-references--shaded p:nth-child(2) {
  margin-left: 4px;
  margin-right: 4px;
}
.footer__scroller {
  color: #1c1917;
  z-index: 1;
}
.footer__scroller--shaded {
  color: transparent;
  z-index: -1;
}

/* Iphone X */
@media (min-width: 320px) and (max-width: 767px) {
  body,
  .header__h1,
  .header__h1--shaded,
  .bio-bio p,
  .bio-links p,
  .bio--shaded {
    font-size: 12px;
  }
  .eachArtWork__img,
  .eachArtWork__video {
    width: 100%;
    padding: 0 16px;
  }
  .eachArtWork__footer {
    padding: 0 16px;
  }
  .header {
    padding: 24px 16px;
  }
  .posts-box {
    width: 238px;
  }
  .footer__scroller {
    display: none;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
  }
  .artwork__img,
  .video-box {
    height: 104px;
    margin-right: 120px;
  }
  .video-box {
    width: 180px;
  }
  .footer-dot--blank,
  .footer-dot {
    display: none;
  }
  .bio-bio {
    width: 343px;
    margin-bottom: 0;
  }
  .bio-bio p {
    line-height: 18px;
    padding-bottom: 64px;
  }
  .bio--shaded {
    left: 16px;
    padding-top: 284px;
  }
  .eachArtWork__info-box {
    font-size: 10px;
    bottom: 42px;
  }
  .eachArtWork__info-box--shaded {
    font-size: 10px;
  }
  .bio-references {
    position: fixed;
    bottom: 24px;
    left: 16px;
    font-size: 10px;
    display: flex;
  }
  .bio-references p,
  .bio-references--shaded p {
    font-size: 10px;
  }
  .bio-references p:nth-child(2) {
    margin-left: 4px;
    margin-right: 4px;
  }
  .bio-references--shaded {
    bottom: 24px;
    left: 16px;
  }
  .bio-references--shaded p:nth-child(2) {
    margin-left: 4px;
    margin-right: 4px;
  }
  .bio-links p:nth-child(1):hover::after {
    z-index: 555555555;
    width: 0px;
  }
  .bio-links p:nth-child(2):hover::after {
    z-index: 555555555;
    width: 0px;
  }
  .post__back {
    left: 16px;
  }
  .post__next {
    right: 16px;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  body,
  .header__h1,
  .header__h1--shaded,
  .bio-bio p,
  .bio-links p,
  .bio--shaded {
    font-size: 13px;
  }
  .artwork__img,
  .video-box {
    height: 136px;
    margin-right: 280px;
  }
  .eachArtWork__img {
    height: 600px;
  }
  .eachArtWork__info-box {
    font-size: 10px;
    bottom: 41px;
  }
  .eachArtWork__info-box--shaded {
    font-size: 10px;
    bottom: 41px;
  }
  .eachArtWork__video {
    height: 480px;
    width: 100%;
    padding: 0 180px;
  }
  .bio-links p:nth-child(1):hover::after {
    z-index: 555555555;
    width: 157px;
  }
  .bio-links p:nth-child(2):hover::after {
    z-index: 555555555;
    width: 61px;
  }
}
/* laptop */
@media (min-width: 1025px) and (max-width: 1440px) {
  body,
  .header__h1,
  .header__h1--shaded,
  .bio-bio p,
  .bio-links p,
  .bio--shaded {
    font-size: 14px;
  }
  .artwork__img,
  .video-box {
    height: 160px;
    margin-right: 360px;
  }
  .eachArtWork__img {
    height: 600px;
  }
  .eachArtWork__video {
    height: 608px;
    width: 1055px;
  }
  .eachArtWork__info-box {
    bottom: 43px;
  }
  .eachArtWork__info-box--shaded {
    bottom: 43px;
  }
}
